@import "/main-style.css";

body {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

#brand {
    display: inline;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 255;
}

#projects {
    display: flex;
    padding: 30px;
    margin: 0;
    align-items: flex-end;
}

#projects li:not(:first-child) {
    margin-left: 30px;
}

.sub-menu {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    height: 32px;
    text-align: center;
    /* border-top: 1px white solid; */
    overflow: hidden;
    transition: 1.5s;
}

.sub-menu:hover {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    /* border-top: 3px white solid; */
}

.sub-menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25%;
    height: 1px;
    background-color: white;
    transform: translateX(-50%);
    transition: 1.5s;
}

.sub-menu:hover::after {
    width: 100%;
}

.sub-menu ul {
    padding: 0;
}

.sub-menu li {
    margin-left: 0 !important;
}

#animationContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
/*     max-width: 100vw;
    max-height: 100vh; */
    width: 100%;
    height: 100%;
}

#iconRoot {
    position: absolute;
    top: 35%;
    width: 0;
    height: 0;
    border-radius: 50%;

    overflow: visible;

    animation: roll 8s ease-in-out infinite forwards;
}

#iconCanvas {
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    max-width: 500px;
    border-radius: 50%;
}

#blur {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-image: url(images/Profile\ Picture\ -\ Circle.png);
    background-size: contain;

    animation: glow 8s ease-in-out infinite forwards;
}

#typeLogo {
    position: absolute;
    top: 77%;
    transform: translate(-50%, -50%);

    animation: fadeinout 8s ease-in-out infinite forwards;
}

@keyframes roll {
    0% {
        left: -25%;
        transform: rotate(-180deg);
    }

    25% {
        left: 45%;
        transform: rotate(0deg);
    }

    75% {
        left: 55%;
        transform: rotate(0deg);
    }

    100% {
        left: 125%;
        transform: rotate(180deg);
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
        left: 130%;
    }

    25% {
        opacity: 1;
        left: 52%;
    }

    75% {
        opacity: 1;
        left: 48%;
    }

    100% {
        opacity: 0;
        left: -30%;
    }
}

@keyframes glow {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
        filter: blur(30px);
    }

    75% {
        opacity: 0.4;
        filter: blur(30px);
    }

    100% {
        opacity: 0;
    }
}