* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

body {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
}

main {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
}

#bgCanvas {
    background-image: linear-gradient(to bottom, rgb(20, 0, 20), rgb(56, 0, 56), rgb(20, 0, 20));
    background-size: 200%;

    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;

    animation: shimmer 8s linear infinite;
}

.container {
    position: absolute;
    top: 330px;
    width: 0;
    height: 0;
    border-radius: 50%;

    overflow: visible;

    animation: roll 8s ease-in-out infinite forwards;
}

#blur {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-image: url(images/Profile\ Picture\ -\ Circle.png);
    background-size: contain;
    
    animation: glow 8s ease-in-out infinite forwards;
}

#iconCanvas {
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

#typeLogo {
    position: absolute;
    top: 760px;
    left: 50%;
    
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 5px white);

    animation: fadeinout 8s ease-in-out infinite forwards;
}

@keyframes roll {
    0%      {left: -25%; transform: rotate(-180deg);}
    25%     {left: 45%; transform: rotate(0deg);}
    75%     {left: 55%; transform: rotate(0deg);}
    100%    {left: 125%; transform: rotate(180deg);}
}


@keyframes fadeinout {
    0%      {opacity: 0; top: 1100px;}
    25%     {opacity: 1; top: 760px;}
    75%     {opacity: 1; top: 760px;}
    100%    {opacity: 0; top: 1100px;}
}

@keyframes shimmer {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes glow {
    0%      {
        opacity: 0;
    }
    25%     {
        opacity: 1;
        filter: blur(30px);
    }
    75%     {
        opacity: 0.4;
        filter: blur(30px);
    }
    100%    {
        opacity: 0;
    }
}