@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    font-family: Michroma;
    -webkit-user-select: none;
    user-select: none;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

a,
.nav {
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

a:hover {
    color: #a20bb7;
    text-decoration: underline;

    animation: linkglow 2s ease-in-out infinite alternate;
}

@keyframes linkglow {
    0% {
        text-shadow: none;
    }

    50% {
        text-shadow: 0 0 7px hsl(293, 100%, 25%);
    }

    100% {
        text-shadow: none;
    }
}

input[type="text"] {
    width: 120px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 5px;
    color: white;
    border: none;
    text-align: center;
}

input[type="button"] {
    min-width: 80px;
    min-height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;

    background-color: hsla(0, 0%, 100%, 0.2);
    color: white;
}

input[type="button"]:not(:disabled):not(:active):hover {
    background-color: hsla(0, 0%, 100%, 0.35);
}

input[type="button"]:not(:disabled):active {
    background-color: hsla(0, 0%, 50%, 0.2);
    outline: 2px solid hsla(0, 0%, 100%, 0.2);
}

input:disabled {
    color: gray;
    background-color: hsla(0, 0%, 25%, 0.1);
}

input.toggled {
    outline: 2px solid white;
}

#backButton {
    display: inline;
    position: absolute;
    left: 10px;
    top: 10px
}

#bg {
    display: inline;
    background-image: linear-gradient(to bottom, rgb(20, 0, 20), rgb(56, 0, 56), rgb(20, 0, 20));
    background-size: 200%;

    margin: 0;
    width: 100vw;
    height: 100vh;

    animation: shimmer 8s linear infinite;
}

@keyframes shimmer {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}