@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    font-family: Michroma;
    -webkit-user-select: none;
    user-select: none;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 80px;
    width: 1000px;
    height: 500px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 5px solid hsla(0, 0%, 100%, 0.5);
    border-radius: 10px;
    background-color: hsla(0, 0%, 100%, 0.1);
    color: white;
}

#backButton {
    display: inline;
    position: absolute;
    left: 10px;
    top: 10px
}

#startScreen {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0;
}

#optionsScreen {
    position: relative;
    height: 100%;
    height: 100%;
    width: 100%;
}

#gameScreen {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}

input[type="button"] {
    min-width: 80px;
    min-height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;

    background-color: hsla(0, 0%, 100%, 0.2);
    color: white;
}

input[type="button"]:not(:disabled):not(:active):hover {
    background-color: hsla(0, 0%, 100%, 0.35);
}

input[type="button"]:active {
    background-color: hsla(0, 0%, 50%, 0.2);
    outline: 2px inset gray;
}

input:disabled {
    color: gray;
    background-color: hsla(0, 0%, 25%, 0.1);
}

input.toggled {
    outline: 2px solid white;
}

.menuButton {
    width: 160px;
}

.menuButton:not(:last-child) {
    margin-bottom: 12px;
}

.difficultyButton {
    width: 160px;
}

.difficultyButton:not(:last-child) {
    margin-bottom: 12px;
}

.gameButton {
    width: 100px;
    margin: 0 3px;
}

#exitGame {
    position: absolute;
    right: 0;
    bottom: 0;
}

#mainMenu {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scores {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#scores h2 {
    margin: 0;
}

#optionsMenu {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#help {
    display: flex;
    position: absolute;
    right: 0;
    width: 760px;

    font-size: 14px;
}

#numberRangeOption {
    width: 120px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 5px;
    color: white;
    border: none;
    text-align: center;
}

#exitOptions {
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translateX(-50%);
}

#HUD {
    display: flex;
    justify-content: space-between;
}

#HUD h2 {
    margin: 0;
}

#game {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wordsUI {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    height: 24px;
    width: 300px;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.1);
    text-align: center;
}

.correct {
    background-color: hsla(120, 100%, 80%, 0.5) !important;
}

.incorrect {
    background-color: hsl(0, 100%, 80%, 0.5) !important;
}

.hide {
    display: none;
}

#bg {
    display: inline;
    background-image: linear-gradient(to bottom, rgb(20, 0, 20), rgb(56, 0, 56), rgb(20, 0, 20));
    background-size: 200%;

    margin: 0;
    width: 100vw;
    height: 100vh;

    animation: shimmer 8s linear infinite;
}

@keyframes shimmer {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}