/* Image Fade */
.image-fade {
    animation: image-fade 10s;
}

@keyframes image-fade {
    0% {
        opacity: 0
    }

    5% {
        opacity: 1
    }

    95% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

/* Text Slide */
.text-slide {
    position: absolute;
    width: 100%;
    text-align: center;
    animation: text-slide 10s ease-in-out forwards;
}

@keyframes text-slide {
    0% {
        opacity: 0;
        left: 100%;
    }

    25% {
        opacity: 1;
        left: 5%;
    }

    75% {
        opacity: 1;
        left: -5%;
    }

    100% {
        opacity: 0;
        left: -100%;
    }
}